* {
    font-family: "Roboto Mono", monospace;
}

.card {
    width: 19rem;
    background-color: rgb(230, 225, 225);
}

#location-map {
    width: 90%;
    height: 80%;
}

#input-message {
    height: 10rem;
}
